body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ev-rounded-1 {
  border-radius: 1rem;
}
.ev-rounded-05 {
  border-radius: 0.5rem;
}

.ev-border-bottom {
  border: 0;
  border-bottom: 0.3rem;
}

.ev-fs-micro {
  font-size: 0.8rem;
}

.menu-wrapper {
  position: relative;
  max-height: 13rem;
  margin: 1em auto;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu {
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.menu .item {
  display: inline-block;
  box-sizing: border-box;
}

.paddles {
  position: relative;
}

.paddle {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  color: gray;
  border: none;
  width: 100%;
}

.left-paddle {
  left: 0;
}

.right-paddle {
  right: 0;
}

.hidden {
  display: none;
}

.ev-menu {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
