body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ev-rounded-1 {
  border-radius: 1rem;
}
.ev-rounded-05 {
  border-radius: 0.5rem;
}

.ev-border-bottom {
  border: 0;
  border-bottom: 0.3rem;
}

/* summary::marker,
summary::-webkit-details-marker {
} */

.ev-fs-micro {
  font-size: 0.8rem;
}
